<div class="jumbotron">
    <div>
        <h1>Welcome to Inventory Hub!</h1>
    </div>
    <br />
    <br />
    <br />
    <div>
        <p>
            This is a website where you can keep records of your products!
            <br />
            If you are a new user, Register yourself in our website to keep the records of your inventory.
            <br />
            <br />
            @Html.ActionLink("Login", "Login", "User")
            &nbsp;
            &nbsp;
            &nbsp;
            @Html.ActionLink("Register", "Register", "User")
        </p>
    </div>
</div>
